Source: gxde-file-manager-integration
Section: devel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>=9), pkg-config, qt5-qmake, qtbase5-dev, qtwebengine5-dev, 
 		libgxde-file-manager-dev, libfontconfig1-dev, qtchooser
Standards-Version: 3.9.6
Homepage: http://www.deepin.org

Package: gxde-file-manager-integration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 libgxde-file-manager
Description: GXDE File manager plugin integration
 Include the following plugins:
 1: Browse the web page plugin.
 2: View the files in the system clipboard.
 3: Marks the file synchronization status of nutstore.
